.touch-ripple{
	position: relative;
}

.touch-ripple-circle-wrapper{
	border-radius: inherit;
	overflow: hidden;
	transform: inherit;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.touch-ripple-circle{
	border-radius: 100%;
	width: 0;
	height: 0;
	background: currentColor;
	opacity: 0.32;
	position: absolute;

	-webkit-transition: all 175ms linear;
	-moz-transition: all 175ms linear;
	-o-transition: all 175ms linear;
	transition: all 175ms linear;

	transform: translate3d(0,0,0) translateZ(0) scale3d(1,1,1) scaleZ(1);
	-webkit-transform-style: flat;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	will-change: width, height, top, left, opacity;
}