
/* //i--- Sticky footer styles ; inside_template ; torrison ; 01.05.2020 ; CSS1 ---/ */

html {
    position: relative;
    min-height: 100%;
    background: white;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    padding-top: 0 !important;
    background-color: #eee;
}

/* //i---Medium devices (tablets, 768px and up) has smaller footer or footer hide ; inside_template ; torrison ; 01.05.2020 ; CSS2 ---/ */
@media (max-width: 768px) {

    .footer {
        height: 70px;
    }
    .footer .col-6 {
        display:none;
    }
    body {
        margin-bottom: 60px;
    }
}


/* //i--- Default font: Ubuntu Condensed ; inside_template ; torrison ; 01.05.2020 ; CSS3 ---/ */
body {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #333;
}

/* //i--- TOP line CSS ; inside_template ; torrison ; 01.05.2020 ; CSS4 ---/ */
/* -------------------------------------------------- */
.top_line {
    background: #eee;
}
.top_line .right_block {
    padding: 5px;
}
.top_line .left_block {
    font-size: 22px !important;
    padding-top: 3px;
    padding-left: 16px;
}

.top_line .left_block > a {
    padding-right: 8px;
    color: #555;
}

/* //i--- TOP Navbar CSS ; inside_template ; torrison ; 01.05.2020 ; CSS5 ---/ */
/* -------------------------------------------------- */
.top_navbar {
    background: #fff;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .12);
}
#navbarCollapse {
    flex-grow: 0;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 30px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/* -------   MAIN Block -------- */
.jumbotron {
    margin-bottom: 0;
}

/* -------   3 blocks -------- */
/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) and (min-width:768px) {

    .blocks-list small.text-muted {
        display: none;
    }

    .blocks-list .card-body > ul {
        -webkit-padding-start: 10px;
    }


}


/* -------   3 circles OR Why we? -------- */
.marketing .row > div {
    text-align: center;
}
.marketing {
    padding-top: 15px;
}

.marketing .why_we_list {
    font-size: 20px;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1200px) {

    .marketing .why_we {
        margin-top: 30px;
    }

    .marketing .why_we_list {
        font-size: 16px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {

    .marketing .why_we {
        margin-bottom: 30px;
    }

    .marketing .why_we_list {
        font-size: 16px;
    }

}


/* ---- Speech Block ------ */

.speech img.featurette-image {
    height: auto !important;
}

/* ---- Price Cards Block ------- */

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) and (min-width: 576px) {

    .price_cards .btn {

        font-size: 15px;

    }

}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* //i--- Bootstrap color ballance and fixes ; inside_template ; torrison ; 01.05.2020 ; CSS7 ---/ */
a {
    color: #0074D9;
    cursor: pointer;
}
.btn-primary
{
    background-color: #0074D9;
    border-color: #0074D9;
}
.list-group-item.active {

    background-color: #F7F7F7;
    border-color: #DFDFDF;
    color: #333;

}
.list-group-item.active {

    background-color: #305590;
    border-color: #4065A0;
    color: #fff;

}

.modal-dialog .modal-header {
    background-color: #305590;
    color: #fff;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
}
.modal-dialog .modal-header .close {
    color: white;
    font-size: 3rem;
    line-height: 0.5;
}
.modal-dialog .modal-header .close:hover {
    color: #eee;
}


.list-group-item.active {
    font-size: 18px;
    padding: 5px;
}
.list-group {
    width: 100%;
}
.list-group-item .row {
    width: 100%;
}
.text-left {
    justify-content: left !important;
    text-align: left !important;
}
@media (min-width: 576px) {
    .form-control {
        width: 100% !important;
    }
    .form-inline .form-group {
        margin-bottom: 1rem !important;
    }
}

/* //i--- Core CSS Classes ; inside_template ; torrison ; 01.05.2020 ; CSS8 ---/ */
.bottom-shadow {
    box-shadow: 0 4px 2px -1px rgba(0, 0, 0, .12);
    z-index:10;
    position: relative;
}

.top-shadow {
    box-shadow: 0 -2px 2px rgba(0, 0, 0, .12);
    font-size: 3px;
}

.wblock1 {
    background: white;
    box-shadow: 0 3px 8px 0px rgba(0, 0, 0, .12);
}

.box-shadow1 {
    box-shadow: 0 3px 2px 0px rgba(0, 0, 0, .12);
}

.ul-numbers {
    list-style: decimal;
}

.big_icon {
    font-size: 60px;
}

.a_link {
    text-decoration: underline;
    color: #0074D9 !important;
}

.list_group_active_right_button {
    float: right;
    font-size: 16px;
}

/* --------- Fixes ------------ */
.btn-secondary, .btn-success, .btn-danger {
    color: #fff !important;
}

/* --------- LANG DropDown ------------ */
#lang_dropdown {
    outline:0 !important;
    background: #eee !important;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
}
#lang_dropdown_menu {
    min-width: 1rem;
    text-transform: uppercase;
}

/* --------- BLOG Content System ------------- */

.inside_gallery_img {
    width: 100%;
    max-width: 365px;
}
.gallery_img_holder {
    height:200px;
    overflow: hidden;
}

/* --------- Fix Mobile TOP problem ---------- */

@media (max-width: 1000px) {

    .top_line .phone.d-inline-block {
        display: none !important;
    }
    .top_line .email.d-inline-block {
        display: none !important;
    }

}

@media (max-width: 580px) {

    .top_line .left_block {
        display: none !important;
    }

    .top_line .icons_mob {
        display: inline-block !important;
        float: left;
        font-size: 20px !important;
        padding-left: 5px;
        margin-top: -3px;
    }

    .top_line .icons_mob > a {
        color: #555;
        padding-right: 8px;
    }
}

/* Product Image Block */
.product_image_block {
    margin-top: -170px;
}
@media (max-width: 1200px) {
    .product_image_block {
        margin-top: -60px;
    }
}

/* ---------- Fix IE Bug ------------ */
.card-img-top {
    height:100%;
}